@media (max-width: 1024px) {
}
@media (max-width: 991px) {
	.text-content {
		width: 100%;
	}
	.navigation-wrap .navbar-brand img {
		height: 3.8125rem;
	}
	.navigation-wrap {
		text-align: center;
		background-color: var(--secondary-color);
		box-shadow: 0 0.125rem 0.55rem 0 rgba(139, 137, 137, 0.949);
	}
	.navigation-wrap .nav-link {
		line-height: 1.875rem;
	}

	.story-section {
		height: auto;
		padding: 3rem 0;
		text-align: center;
	}
	.food-types .column {
		-ms-flex: 80%;
		flex: 80%;
		max-width: 80%;
	}
}
@media screen and (max-width: 800px) {
	.column {
		-ms-flex: 80%;
		flex: 80%;
		max-width: 80%;
	}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.column {
		-ms-flex: 100%;
		flex: 100%;
		max-width: 100%;
	}
}
@media screen and (min-width: 853px) {
	.top-banner {
		background: url("../images/bgg.jpg") no-repeat center;
		background-attachment: fixed;
		background-position: ;
	}
	.story-section {
		height: auto;
		width: 100%;
	}

	.newsletter {
		width: 75%;
	}
	.newsletter .main-btn {
		width: 100%;
		margin-top: 1rem;
	}
	.footer-section .footer-link,
	.footer a i {
		padding: 0 0.7rem;
	}
	/* .grid-food {
		width: 100%;
	} */
}
