@media (max-width: 1024px) {
}
@media (max-width: 991px) {
	.text-content {
		width: 100%;
	}
	.navigation-wrap .navbar-brand img {
		height: 3.8125rem;
	}
	.navigation-wrap {
		text-align: center;
		background-color: var(--secondary-color);
		box-shadow: 0 0.125rem 0.55rem 0 rgba(139, 137, 137, 0.949);
	}
	.navigation-wrap .nav-link {
		line-height: 1.875rem;
	}
	.food-types .me-auto {
		margin-top: 5rem;
	}
	.story-section {
		height: auto;
		padding: 3rem 0;
		text-align: center;
	}
}
@media (max-width: 853px) {
	h1 {
		font-size: 2rem;
	}
	h2 {
		font-size: 122rem;
		line-height: 200rem !important;
		color: red !important;
	}

	.top-banner {
	}
	.story-section {
		height: auto;
		width: 100%;
	}
	.food-types .me-auto {
		margin-top: 5rem;
	}

	.newsletter {
		width: 75%;
	}
	.newsletter .main-btn {
		width: 100%;
		margin-top: 1rem;
	}
	.footer-section .footer-link,
	.footer a i {
		padding: 0 0.7rem;
	}
}
